# {{ ansible_managed }}
output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"

    user => {{ elasticsearch_logstash_user_name }}
    password => {{ elasticsearch_logstash_user_password }}
  }
}